<div class="d-flex justify-content-center">
  <div class="card text-white bg-primary mb-3 flex-grow-1">
    <h3 class="card-header">Timer</h3>
    <div class="card-body">
      <app-timer></app-timer>
      <app-timer-toggle></app-timer-toggle>
      <app-action-buttons></app-action-buttons>
    </div>
  </div>
  <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
    <h3 class="card-header">Settings</h3>
    <div class="card-body">
      <app-sidebar></app-sidebar>
    </div>
  </div>
</div>
